[Unit]
Description=Remote notification listener

[Service]
Type=simple
Restart=always
ExecStart=/bin/sh -c "notify-send \"Remote notification\" \"$(nc -l -p 1337)\""
